$body-text: #0E1436;
$body-text-secondary: #575A70;
$body-text-light: #828597;


$background-color: #fff;
$background-yellow: #F2B946;
$background-teal: #87B2A4;
$background-blue-grey: #465468;
$background-light-grey: #F7F7F7;

$headings: "Sabon LT W01", serif;
$sub-heading: Poppins;
$body-font: 'MyriadPro', sans-serif;
$font-size: 16px;

//
$content-width: 768px;


